body
{
    background-color: black;
    color: white;
    
}

p
{
    font-size: larger;
}

h1
{
    color: red;
}
a, li
{
    color: white;
    font-size: xx-large;
    
}

ul
{
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}